.modals {
	width: 100vw;
	height: 100vh;
	padding: $spacing-6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .25s ease-in-out;

	.modal {
		flex: 0 1 40rem;
		padding: $spacing-5;
		background-color: $white;
		border-radius: 0.5rem;

		&__header,
		&__body {
			margin-bottom: $spacing-5;
		}

		&__footer {
			display: flex;
			justify-content: flex-end;
			
			.btn--secondary {
				margin-right: $spacing-3;
			}
		}
	}
}