.tile {
	flex: 0 0 14.2857%;
	padding: $spacing-2;
	border-right: 1px solid $light-gray;

	&:last-child {
		border-right: none;
	}

	&__number {
		width: 2rem;
		line-height: 2rem;
		text-align: center;
		font-weight: 600;
	}
}