// Colors
$blue: #2E6BE5;
$blue--light: #467FF0;
$blue--dark: #295FCC;

$dark-gray: #333740;
$dark-gray--light: #474D59;
$dark-gray--dark: #1F2126;

$gray: #505359;
$gray--light: #676B73;
$gray--dark: #393B40;

$light-gray: #CED2D9;
$light-gray--light: #DFE3EB;
$light-gray--dark: #B6B9BF;

$white: #FFFFFF;

// Spacing
$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;
$spacing-6: 3rem;